node_modules/*
config/*
scripts/*
src/serviceWorker.js
package.json
package-lock.json
app.js
index.js
src/redux/store.js
src/utils/serviceWorker.js
src/utils/requests.js
src/utils/entyPoints.js
src/redux/reducers/session.js
