.item,
.loginBox,
.passwordBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;

}

.item {
  height: 544px;
  width: 274px;
  border: 1px solid red;
}

.langMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 70px;
}

.loginBox,
.passwordBox,
.btnRegister {
  font-family: Verdana;
  font-weight: bold;
  font-size: 13px;
  color: #999daa;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.btnRegister {
  display: block;
  margin: 0 auto;
  margin-top: 62px;
  color: white;
  background-color: #fc842c;
  border-radius: 42px;
  border: 1px solid #fc842c;
  width: 175px;
  height: 42px;
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
  transition: .3s linear;
}
